<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Wswl.MUI" android:versionCode="1" android:versionName="0.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" />
	<application android:label="无声物联" android:icon="@drawable/Icon" android:theme="@style/WswlAppTheme"></application>
</manifest>